# Ignore Node Modules
node_modules/

# Ignore TS Build artifacts
**/*.js
**/*.d.ts
**/*.js.map

# Ignore Jest Coverage Folder
coverage/

# Track Jest config
!/jest.config.js

# Track everything in here
!/__tests__/testData/**/*
